<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimo HTML Learing</title>
</head>
<body>

    <ol type="a">
  <li>One</li>
  <li>One</li>
  <li>One</li>
  <li>One</li>
</ol>

<ul type="square">
    <li>One</li>
    <li>One</li>
    <li>One</li>
    <li>One</li>
  </ul>
    <p>HTML describes formattes text using <strong>Tags</strong>. Vist theme
    <a href="http://softuni.bg">SoftU</a>
<a href="#bottom-text">Scrow to bottom </a>
<img src="https://cdn.pixabay.com/photo/2022/06/22/16/10/cathedral-7278228_960_720.jpg" alt="nature" width="100l">
    </p>
    <div>
        <p>vvv</p>
        <!-- komentar ctrl + ? -->
        <p>Lorem ipsum, dolor sit </br> amet consectetur adipisicing elit. Inventore fuga, delectus expedita saepe blanditiis atque, cupiditate repudiandae voluptas in incidunt perferendis? Perferendis quod, sunt a porro incidunt obcaecati alias unde!</p>
        <p>Lorem ipsum, dolor sit </br> amet consectetur adipisicing elit. Inventore fuga, delectus expedita saepe blanditiis atque, cupiditate repudiandae voluptas in incidunt perferendis? Perferendis quod, sunt a porro incidunt obcaecati alias unde!</p>
        <p>Lorem ipsum, dolor sit </br> amet consectetur adipisicing elit. Inventore fuga, delectus expedita saepe blanditiis atque, cupiditate repudiandae voluptas in incidunt perferendis? Perferendis quod, sunt a porro incidunt obcaecati alias unde!</p>
        <p>Lorem ipsum, dolor sit </br> amet consectetur adipisicing elit. Inventore fuga, delectus expedita saepe blanditiis atque, cupiditate repudiandae voluptas in incidunt perferendis? Perferendis quod, sunt a porro incidunt obcaecati alias unde!</p>
        <p>Lorem ipsum, dolor sit </br> amet consectetur adipisicing elit. Inventore fuga, delectus expedita saepe blanditiis atque, cupiditate repudiandae voluptas in incidunt perferendis? Perferendis quod, sunt a porro incidunt obcaecati alias unde!</p>
        <p id="bottom-text">Lorem ipsum, dolor sit </br> amet consectetur adipisicing elit. Inventore fuga, delectus expedita saepe blanditiis atque, cupiditate repudiandae voluptas in incidunt perferendis? Perferendis quod, sunt a porro incidunt obcaecati alias unde!</p>
    </div>
    <div>
        <p><img src="" alt="Fruit image"><img src="" alt="Fruit image"><img src="" alt="Fruit image"><img src="" alt="Fruit image"><img src="" alt="Fruit image"></p>
        <p><img src="" alt="Fruit image"><img src="" alt="Fruit image"><img src="" alt="Fruit image"><img src="" alt="Fruit image"><img src="" alt="Fruit image"></p>
        <p><img src="" alt="Fruit image"><img src="" alt="Fruit image"><img src="" alt="Fruit image"><img src="" alt="Fruit image"><img src="" alt="Fruit image"></p>
    </div>
</body>
</html>